.kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
body {
    margin: 0;
    padding: 0;
    /* background-color: #551B8C; */
    background-image: radial-gradient(circle at center,#1d1533 0%,#141414 70%)!important;
}

