$color_1: rgb(201, 201, 201);
$color_2: rgb(195, 130, 238);
$color_3: #999;
$color_4: #a06efd;
$color_5: rgb(101, 65, 158);
$color_6: #fff;
$color_7: #6d28d9;
$color_8: #4a4385;
$color_9: rgb(234, 1, 255);
